body,html {
    width: 100%;
    font-family: 'Roboto';
    color: #727272;
}

.wrapper {
    width: 460px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.slider {
    position: absolute;
}

.slider img {
    width: 100%;
    float: left;
    display: none;
}

img.showImage {
    display: inline-block;
}

img.hideImage {
    display: none;
}